<section class="about container">
    <h1 class="text-center mb-5">about</h1>
    <p>
        The Digital Academy focuses on creating innovative digital products in Africa.
        Launched in response to a frustrating lack of digital skills on the continent, our vision is to create
        opportunities for youth through incentive-based learning with strategic corporate partners who share a common
        vision. Our interns learn practical, hands-on development skills that are needed in the real world whilst
        building commercial facing products via a rapid internship programme.


    </p>
    
</section>