<section class="about container">
    <h1 class="text-center mb-5">about</h1>
    <p>
        The Digital Academy focuses on creating innovative digital products in Africa.
        Launched in response to a frustrating lack of digital skills on the continent, our vision is to create
        opportunities for youth through incentive-based learning with strategic corporate partners who share a common
        vision. Our interns learn practical, hands-on development skills that are needed in the real world whilst
        building commercial facing products via a rapid internship programme.



    </p>
    <div class="follow text-center">
        <h4>Follow us</h4>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       
        <a  href="https://touch.facebook.com/DigitalAcademySA/"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
        <a  href="https://www.youtube.com/watch?v=knZ1gF854e8"> <i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        <a  href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a  href="https://www.instagram.com/digitalacademy_za/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a  href="https://www.linkedin.com/company/the-digital-academy-southafrica/mycompany/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>


    </div>

</section>